<div class="search-container" [formGroup]="searchForm">
  <input type="text" class="search-input" placeholder="Search City" formControlName="city">
  <button class="search-button" (click)="searchWeather()">Search</button>
</div>

<div class="content">
  <div class="row">
    <div class="image-container">
      <img src="../assets/img.jpg" alt="" class="section-image">
    </div>
    <div class="temperature">
      {{weather.temp}} C
    </div>
  </div>

  <div class="row">
    <div class="section-2">
      <div class="top-info">
        <p>Expected Temperature: {{weather.expected_temp}}</p>
      </div>
      <div class="bottom-info">
        <p>Humidity:{{weather.humidity}}</p>
      </div>
      <div class="info-box">
        <p>Wind Speed: {{weather.wind}}</p>
      </div>
    </div>
  </div>
</div>